.error {
    color: red;
}

.info {
    color: blue;
}

.hidden {
    display: none;
}

/*body {
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url('clock.gif');
}*/

td {
    border-style: solid;
}

.unselectable {
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
    user-select: none;
}