.error {
    color: red;
}

.info {
    color: blue;
}

.hidden {
    display: none;
}

body {
    background: url('business1.jpg') #221c5a;
    background-repeat: no-repeat;
    background-position: top center;
    background-attachment: fixed;
    background-size: cover;
}

td {
    border-style: solid;
    background-color: aliceblue;
    font-weight: bold;
    font-size: 1.2em;
}

table {
    width: 70% ;
}
td {
    width: 8% ;
}

#bin {
    padding-left: 75%;
    background: whitesmoke;
    border-radius: 25px;
    width: 150px;
}

#bin:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);

}
#scheduleTable{
    float:left;
}
#toolbox {
    padding-left: 75%;
    background: whitesmoke;
    border-radius: 25px;
    width: 150px;
}

#toolbox:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

img {
    max-width: 50%;
    max-height: 50%;
}

.unselectable {
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
    user-select: none;
}

.taskButton {
    width: 300px;
}


#task-title {
    width: 254px;
}
table {
    border-collapse:separate;
    border:solid black 1px;
    border-radius:6px;
    -moz-border-radius:6px;
}

td, th {
    border-left:solid black 1px;
    border-top:solid black 1px;
}

th {
    color: white;
    background-color: cadetblue;
    border-top: none;
    font-weight: bolder;
    font-size: 1.5em;
}

td:first-child, th:first-child {
    border-left: none;
}

h1, h2
{
    width: 30%;
    border: 2px solid;
    margin: 10 auto;
    text-align: center;
    background: aliceblue;
    box-shadow: 4px 2px 9px 4px black;
}

button{
    background:#1AAB8A;
    color:#fff;
    border:none;
    position:relative;
    height:30px;
    width: 250px;
    padding:0 2em;
    cursor:pointer;
    transition:800ms ease all;
    outline:none;
    font-size: 1.2em;
}
button:hover{
    background:#fff;
    color:#1AAB8A;
}
button:before,button:after{
    content:'';
    position:absolute;
    top:0;
    right:0;
    height:2px;
    width:0;
    background: #1AAB8A;
    transition:400ms ease all;
}
button:after{
    right:inherit;
    top:inherit;
    left:0;
    bottom:0;
}
button:hover:before,button:hover:after{
    width:100%;
    transition:800ms ease all;
}

input[type='checkbox'] {
    width:20px;
    height:20px;
    border-radius:5px;
    border:2px solid #555;
}

input {
    width: 200px;
    height: 30px;
    border-radius:5px;
    border:2px solid #555;
}

.taskButton {
    font-weight: bold;
    font-size: 1.2em;
    background: aliceblue;
    border-radius: 25px;
    padding: 5px;
}

.taskButton:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

br {
    line-height: 200%;
}

#task-schedules {
    width: 30%;
    border: 2px solid;
    margin: 10 auto;
    text-align: center;
    background: aliceblue;
    box-shadow: 4px 2px 9px 4px black;
    font-size: 1.5em;
    padding: 5px;
}

#task-text, #task-title {
    width: 30%;
    border: 2px solid;
    margin: 10 auto;
    text-align: center;
    background: whitesmoke;
    box-shadow: 4px 2px 9px 4px black;
    font-size: 1em;
    padding: 5px;
}

#scheduleLink {
    padding: 5px;
}

#scheduleBr {
    line-height: 50%;
}




